@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

  &:focus {
    outline: 0;
  }
}

body {
  text-align: center;
  padding: 100px 0;
  background-color: #fafcfd;

  h3 {
    font-size: 28px;
    color: #0e1238;
    margin-bottom: 50px;
  }

  input {
    width: 100%;
    height: 80px;
    border: 1px solid #dfe8ed;
    border-radius: 40px;
    padding: 0 20px 0 90px;
    color: #6b7289;
    font-size: 18px;
    &::placeholder {
      color: #6b7289;
    }
  }
}

.container {
  margin: 0 auto;
  width: 1122px;
  text-align: left;

  > h4 {
    font-size: 22px;
    color: #151926;
    margin-bottom: 40px;
  }
  .api-list {
    display: flex;
    margin: 0 -7px;
    flex-wrap: wrap;
    .api-item {
      width: calc(100% / 3 - 14px);
      margin: 0 7px 14px;
    }
  }
}
